{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

a
{% block content %}
<form action="/api/register-otp-final" method="post">
    <!-- Qr code-->
    <div class="inputInfo">
        <label id="otpLabel">Scan qr here:</label>
    </div>
    <div class="inputInfo">
        <img src="/app/templates/qr_images/qrcode_{{user_id}}.png">
    </div>

    <!-- otp password -->


    <div class="inputInfo">
        <div>
            {% if warning %}
            <label>{{ warning }}</label>
            {% endif %}
        </div>
        <div>
            <label id="otpLabel2">Password</label>
            <input id="otp_password_input" name="otp_password_input" placeholder="" value="">
        </div>
    </div>


    <!-- submit button -->
    <div class="inputInfo">
        <button class="btn btn-outline-danger" type="submit">Check otp</button>
    </div>


</form>


{% endblock %}
