{% extends 'base.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}


{% block content %}
<form action="/api/register-final" method="post">

    <!--Name-->
    <div>
        <div class="inputInfo">
            <label class="form-label" for="name" style="text-align: center;">First name:</label>
            <input class="sendRegisterData" id="name" name="name" placeholder="Name" required type="text" value="">
        </div>

        <!-- Email-->
        <div class="inputInfo">
            <label class="form-label" for="user_login">Email</label>
            <input class="sendRegisterData" id="user_login" name="user_login" placeholder="example@gmail.com"
                   required type="email"
                   value="">
        </div>
        <!-- Password -->
        {% if warning %}
        <label>{{ warning }}</label>
        {% endif %}
        <div class="inputInfo">
            <label class="form-label">Password</label>
            <input class="sendRegisterData" id="password" name="password" placeholder="Password12345" required
                   type="password"
                   value="">
        </div>
        <!-- Password 2-->

        <div class="inputInfo">
            <label class="form-label">Password confirmation</label>
            <input class="sendRegisterData" id="password2" name="password2" placeholder="Password12345" required
                   type="password"
                   value="">
        </div>


        <!-- submit button -->
        <div class="inputInfo">
            <button class="btn btn-outline-danger" type="submit">Register</button>
        </div>
    </div>


</form>


{% endblock %}
